@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

* {
	@apply m-0 p-0 box-border outline-0 text-base font-normal font-sans text-black;
}

body {
	@apply bg-white overflow-x-hidden w-screen md:pr-[14px];
}

/* TAGS */

h1 {
	@apply text-3xl font-bold;
}

h2 {
	@apply text-3xl font-bold;
}

h3 {
	@apply text-xl font-semibold;
}

h4 {
	@apply text-lg font-semibold;
}

/* CLASSES */

.glass-effect {
	/* From https://css.glass */
	background: rgba(31, 31, 31, 0.36);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(12.5px);
	-webkit-backdrop-filter: blur(12.5px);
	border-bottom: 1px solid rgba(31, 31, 31, 0.44);
}

.active {
	@apply flex absolute top-0 left-0 transition-all duration-300 ease-in-out;
}

.inactive {
	@apply animate-slide-out transition-all duration-300 ease-in-out;
}

.invisible-scrollbar::-webkit-scrollbar {
	width: 0.4em;
}

.invisible-scrollbar::-webkit-scrollbar-track {
	background-color: transparent;
}

.invisible-scrollbar::-webkit-scrollbar-thumb {
	background-color: transparent;
}

.posts-box > div {
	@apply max-lg:w-[200px] shrink-0;
}

.posts-box > div:not(:first-child) {
	@apply ml-8;
}

/* COMPONENTS */

.card-video:hover .card-banner {
	@apply scale-125;
}

.card-video:hover .card-mask {
	@apply bg-transparent transition-all duration-300 ease-in-out;
}

.card-banner {
	@apply transition-all duration-300 ease-in-out origin-center;
}

.wrapper-full {
	@apply w-full mx-auto max-lg:px-8 lg:px-12 xl:px-16 2xl:px-36;
}

.bg-gradient-green {
	background: linear-gradient(
		90deg,
		rgba(11, 33, 4, 0.8) 50%,
		rgba(0, 0, 0, 0) 100%
	);
}

.nav-menu {
	@apply flex items-center justify-between max-lg:hidden;
}

.nav-menu.nav-menu-open {
	@apply bg-green-500 flex flex-col w-[320px] h-screen absolute top-0 right-0 justify-start p-14;
}

.nav-menu li a {
	@apply text-green-100 font-bold text-lg flex content-center flex-wrap cursor-pointer;
}

.nav-menu li:not(:first-child) {
	@apply lg:ml-8;
}

.nav-menu.nav-menu-open li:not(:nth-child(2)) {
	@apply mt-6;
}

.nav-menu.nav-menu-open li:last-child {
	@apply mt-auto;
}

.bt {
	@apply px-5 py-3 rounded-lg w-fit h-fit;
}

.bt-primary {
	@apply bg-green-700 text-green-100 font-bold text-lg hover:bg-dark-green-700 transition-all;
}

.bt-outline-primary {
	@apply border-green-700 border-2 text-green-700 font-bold text-lg hover:bg-green-100 transition-all;
}

.footer-menu li {
	@apply text-green-700 mt-3 cursor-pointer;
}

.footer-menu.is-green li {
	@apply text-green-100;
}

.slick-dots {
	transform: translateY(-40px);
}

.slick-dots li {
	@apply w-fit;
}

.slick-dots li button {
	@apply w-12 h-[6px] bg-gray-500 rounded-full;
}

.slick-dots .slick-active button {
	@apply bg-green-500;
}

.slick-dots li button::before {
	content: "";
}
